.aboutme{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 33px 79px;
    gap: 56px;
    border-radius: 14px;
    box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
}

.aboutme .content{
    width: 100%;
    display: flex;
    height: 60%;
    /* background-color: antiquewhite; */
    flex-direction: row;
    justify-content: space-between;
}

.aboutme .content .conte{
    /* align-items: center; */
    flex-direction: column;
    display: flex;
    padding: 31px 23px 45px 43px;
    gap: 20px;
}

.aboutme .content p{
    font-weight: 500;
    font-size: 20px;
}

.aboutme .content span{
    font-weight: 700;
    color: tomato;
}

.aboutme .content .conte .title1 h1 span{
    color: tomato;
}
.aboutme .content img{
    border-radius: 50%;
    filter: drop-shadow(20px 10px 20px black);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.342),
    inset -20px -20px 60px rgba(255, 255, 255, 0.26);
}

.title {
    background: linear-gradient(30deg, #f32170, #ff6b08, #cf23cf, #eedd44);
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-list {
    padding: 20px;
}

.content-card {
    /* background: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%); */
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
}

.skills-item:not(:last-child) {
    margin-bottom: 15px;
}

.content-card .title-wrapper {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.content-card .title-wrapper h3 {
    font-size: 20px;
    color: black;
}

.content-card .title-wrapper data {
    font-size: 20px;
    font-weight: 300;
}

.content-card .skill-progress-bg {
    background-color: #eee;
    width: 100%;
    height: 8px;
    border-radius: 10px;
}

.content-card .skill-progress-fill {
    background: linear-gradient(to left, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
    height: 100%;
    border-radius: 10px;
    animation: processbar-fill 3s linear;
}

@keyframes processbar-fill {
    from {
        width: 0;
    }

    to {
        width: width;
    }
}