section form .detail input{
    border-radius: 17px;
    padding: 3px;
}

section form .gen{
    display: inline-flex;
    gap: 7px;
}

section button{
    border-radius: 7px;
    background-color: tomato;
    width: 80px;
    height: 25px;
}